{% extends "base.html.twig" %}
{% block content %}
    <div class="page aboutus" xmlns="http://www.w3.org/1999/html">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title">ЧаВо</h1>
                </div>
            </div>
        </div>
        <div class="row grid mb-50 hide-for-small-only">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-calendar-full icons--warning"></span>
                    <span class="page__info--ml text--success">Расписание курсов</span>
                    <a href="/schedule" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>

        <div class="row mb-50">
            <div class="grid">
                <dl id="faq">
                    <dt class="text-dark">Сколько нужно учиться чтобы стать специалистом?</dt>
                    <dd>Чтобы стать специалистом в новой области необходимо потратить около <strong>1500 часов</strong>
                        на
                        изучение
                        нового направления. В этот промежуток входит обучение очно или онлайн и бесконечная практика.
                    </dd>
                    <dt class="text-dark">И сколько это получится в годах?</dt>
                    <dd>Посчитайте, сколько времени Вы готовы пожертвовать на обучение. Если по 2 часа в день то это
                        <strong>всего
                            лишь</strong> 2 года.
                    </dd>
                    <dt class="text-dark">Очень долго, я видел курсы по Java/C#/PHP/ваш_вариант всего на 20 часов!</dt>
                    <dd>За 20 часов можно получить лишь приблизительное представление о технологии или общие знания,
                        которые есть в свободном доступе на <a
                                href="https://en.wikipedia.org/wiki/Main_Page">Википедии</a>.
                    </dd>
                    <dt class="text-dark">И вы обучаете по полной программе?</dt>
                    <dd>Да, у нас есть курсы как для новичков чтобы "попробовать себя" в новой области так и для опытных
                        разработчиков.
                    </dd>
                    <dt class="text-dark">Как я смогу набить 1500 часов если у вас курсы по 40?</dt>
                    <dd>К каждой пройденной теме даётся обширный пул домашних заданий. Обязательно выполнить одно из них
                        на следующий урок, остальные даются на самостоятельную практику. Также мы настоятельно
                        рекомендуем своим студентам <strong>самостоятельно</strong> выбирать проекты либо <strong>реализовывать
                            свои
                            идеи</strong>. И при этом оказываем полную поддержку в рамках текущего курса.
                    </dd>
                    <dt class="text-dark">Как вы успеваете помочь всем студентам?</dt>
                    <dd>Мы не набираем толпы людей. Максимальный размер группы составляет <strong>8 человек</strong> при
                        очном обучении.
                    </dd>
                    <dt class="text-dark">А если я не могу ходить на занятия?</dt>
                    <dd>Для этого у нас есть <strong>онлайн-группы</strong>. Вы можете заниматься удалённо по
                        фиксированному графику либо смотреть уроки в записи. Стоимость обучения в таком случае меньше на
                        25%.
                    </dd>
                    <dt class="text-dark">А если я пропущу занятие?</dt>
                    <dd>Специально для Вас мы сделаем <strong>видеозапись</strong> урока. Кроме того, весь материал
                        курса доступен по ссылкам на наше хранилище.
                    </dd>
                    <dt class="text-dark">Всё равно дорого. Из чего формируется цена курса?</dt>
                    <dd>Стоимость обучения формуруется исходя из оплаты преподавателя (рыночная зарплата специалиста
                        плюс надбавка за вредность), стоимости аренды помещения, куда входят свет, интернет, кофе и
                        печеньки и зарплаты администратора.
                    </dd>
                    <dt class="text-dark">А как же вы зарабатываете?</dt>
                    <dd>Как ни странно, зарабатываем мы программированием. Поэтому наша цель - передать накопленные
                        знания юным падаванам.
                    </dd>
                    <dt class="text-dark">А как же реклама? Оплачиваете из своего кармана?</dt>
                    <dd>Мы не тратим лишних денег на маркетинговые исследования и рекламу на столбах. Поэтому, скорее
                        всего, Вам нас порекомендовали или Вы нашли нас в выдаче поисковика.
                    </dd>
                    <dt class="text-dark">Окей, и что я в итоге получу?</dt>
                    <dd>Самое ценное - практический опыт. Мы не показываем пальцем как НАДО делать, мы учим Вас думать и
                        принимать решение <strong>самостоятельно</strong>. И лишь подсказываем как избежать ошибок.
                    </dd>
                    <dt class="text-dark">И какие у меня шансы найти работу после ваших курсов?</dt>
                    <dd>Все наши студенты которые проявляли инициативу и заинтересованность на занятиях нашли работу в
                        сфере IT. Те кто пропускал занятия и не выполнял домашние задания поставленной цели так и не
                        добились.
                    </dd>
                    <dt class="text-dark">Вы выдаёте сертификат?</dt>
                    <dd>Конечно. Он свидетельствует о том что Вы <strong>прослушали курс</strong>. Чтобы получить
                        сертификат, который <strong>подтверждает Ваш уровень знаний и котируется работодателями</strong> пройдите сертификацию на одном из международных ресурсов: для направления
                        <a href="http://www.w3schools.com/cert/">Frontend</a>, для направления <a href="http://education.oracle.com/pls/web_prod-plq-dad/db_pages.getpage?page_id=651#5">JAVA</a> или для направления
                        <a href="http://www.zend.com/en/services/certification/php-5-certification">PHP</a>. Учтите, что стоимость ЕДИНОРАЗОВОГО прохождения теста составляет от $95.
                    </dd>
                    <dt class="text-dark">Все тесты на английском! Но я учил в школе немецкий, что делать?</dt>
                    <dd>Рекомендуем выучить английский хотя бы до уровня. Иначе Вам светит только должность программиста 1С.</dd>
                </dl>
            </div>
        </div>

        <div class="row grid hide-for-small-only mb-50">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-license icons--warning"></span>
                    <span class="page__info--ml text--success">Наши преподаватели</span>
                    <a href="/aboutus" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}