<div class="enroll-modal">
    <div class="enroll-modal__close" ng-click="hideModal()">

    </div>
    <div class="enroll-modal__content">
        <form action="" class="enroll-form">
            <div class="row">
                <div class="medium-12 columns">
                    <label>Имя
                        <input type="text" class="enroll-form__name" name="name"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>Телефон
                        <input type="text" placeholder="0637078513" class="enroll-form__phone" name="phone"/>
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Email
                        <input type="email" placeholder="student@gmail.com" class="enroll-form__email" name="email"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>Курс
                        <select name="course" class="enroll-form__course"></select>
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Как нас нашли
                        <select name="where" class="enroll-form__where"></select>
                    </label>
                </div>
            </div>
            <div class="row mb-20">
                <div class="large-12 columns">
                    <label>Комментарий
                        <textarea name="comment" cols="30" rows="10" class="enroll-form__comment"></textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 medium-centered columns">

                    <input type="submit" value="Записаться" class="enroll-form__enroll"/>
                </div>
            </div>
        </form>
    </div>
</div>