<div class="enroll-modal">
    <div class="enroll-modal__close" ng-click="hideModal()">

    </div>

    <div class="enroll-modal__content clearfix">
        <div class="row">
            <h2 class="enroll__course-title">{{enrollSchedule.course_name}}</h2>
            <label>Название
                <select ng-model="enrollSchedule"
                        ng-options="courseName.course_name for courseName in courseNames track by courseName.course_name"
                        ng-change="courseChange()"></select>
            </label>
        </div>

        <form ng-show="showEnrollForm" novalidate name="enrollForm" class="enroll-form">
            <div class="row">
                <div class="medium-12 columns">
                    <label>Имя
                        <input type="text" class="enroll-form__name" ng-model="student.name" name="name" required/>
                    </label>

                    <div ng-show="enrollForm.$submitted || enrollForm.name.$touched">
                        <div ng-show="enrollForm.name.$error.required">
                            <span>Введите имя пожалуйста.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>Телефон
                        <input type="text" ng-pattern="regexPhone" ng-model="student.phone" class="enroll-form__phone" ui-mask="+?9?9(?9?9?9)?9?9?9-?9?9?9?9" model-view-value="true" name="phone" required/>
                    </label>

                    <div ng-show="enrollForm.$submitted || enrollForm.phone.$touched">
                        <div ng-show="enrollForm.phone.$error.required || enrollForm.phone.$error.pattern">
                            <span>Введите номер телефона пожалуйста.</span>
                        </div>
                    </div>
                </div>
                <div class="medium-6 columns">
                    <label>Email
                        <input type="email" placeholder="student@gmail.com" ng-model="student.email"
                               class="enroll-form__email" name="email" required/>
                    </label>

                    <div ng-show="enrollForm.$submitted || enrollForm.email.$touched">
                        <span ng-show="enrollForm.email.$error.required">Введите пожалуйста email.</span>
                        <span ng-show="enrollForm.email.$error.email">Это не корректный email.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>Курс
                        <select name="course" class="enroll-form__course"
                                ng-model="enrollSchedule.modifier_id"
                                ng-options="schedule.modifier_id as (schedule.modifier_name | modifier) group by schedule.course_name for schedule in schedules"></select>
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Как нас нашли
                        <select name="where" class="enroll-form__where" ng-model="student.how"
                                ng-options="h for h in how"></select>
                    </label>
                </div>
            </div>
            <div class="row mb-20">
                <div class="large-12 columns">
                    <label>Комментарий
                        <textarea name="comment" cols="30" rows="10" ng-model="student.comment"
                                  class="enroll-form__comment"></textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-4 medium-centered columns">

                    <input type="submit" value="Записаться" ng-click="postEnroll(student, enrollForm)"
                           class="enroll-form__enroll"/>
                </div>
            </div>
        </form>
        <div ng-show="enrollSuccess">
            <h3 class="text-center">{{student.name}}, cпасибо, что записались на наш курс
                {{enrollSchedule.course_name}}</h3>

            <p class="lead">
                На ваш email отправлено письмо с подтверждением о регистрации.
            </p>
        </div>
        <div ng-show="enrollError">
            <p class="lead">
                Очень жаль, произошла ошибка на сервере :'(
            </p>
        </div>
        <div ng-show="sqlError">
            <p class="lead">
                Вы уже записались на курс {{enrollSchedule.course_name}}.
            </p>
        </div>
    </div>
</div>