<div class="page__header course">
    <div class="row">
        <div class="medium-3 columns end">
            <h1 class="page__title text-capitalize">{{ course.name }}</h1>
        </div>
    </div>
</div>
<div class="row"><a href="/courses">{{menuitem}}</a>/{{course.name}}</div>
<div class="row mb-20">
    <div class="page__info">
        <p>
            <span class="page__info--l icon-coins icons--warning"></span>
            <span class="page__info--ml text--success">Акции и скидки</span>
            <a href="/promo" class="page__info--last text--warning">Узнать больше</a>
        </p>
    </div>
</div>
<div class="row">

    <div class="medium-6 columns">
        <div class="row">
            <div class="medium-8 columns">
                <h3 class="closest__name">
                    {{course.name}}
                </h3>
            </div>
            <div class="medium-4 columns">
                Уровень:
                <ul class="course__level--{{ course.level }}">
                    <li class="course__level--first"></li>
                    <li class="course__level--middle"></li>
                    <li class="course__level--last"></li>
                </ul>
            </div>
        </div>
        <p class="">Ближайшая группа:</p>

        <div class="row closest">
            <div class="small-3 columns closest__date" ng-if="closest.begin">
                <p class="closest__day">
                    {{ closest.begin | date:'d' }}
                </p>

                <p class="closest__month">
                    {{ closest.begin | date:'MMMM' }}
                </p>
            </div>

            <div class="small-9 columns">

                <div ng-if="closest" class="closest__course">


                    <p class="closest__time">
                        {{ closest.begin | date:'HH:mm' }}
                        -{{ closest.getEndTime() | date:'HH:mm' }}
                        | {{closest.lessonCount }}
                        уроков</p>

                    <p class="">{{ closest.price }} грн</p>

                    <ul class="list-table">
                        <li><a href="#" class="btn--warning" ng-click="enroll(course)">Записаться</a></li>
                        <li class="text-right"><a href="#course-schedules">Другие даты и время</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="medium-6 columns courseinfo__video">
        <img src="/img/placeholders/video-placeholder.jpg" alt=""/>
    </div>
</div>
<div class="courseinfo__description">
    <div class="row">
        <p>{{course.name}}</p>

        <p>{{course.description}}</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab alias asperiores at commodi distinctio dolor
            dolore earum enim expedita explicabo id ipsum, laudantium magni nihil officia perspiciatis possimus, quae
            quaerat quam quas quod saepe soluta sunt tenetur unde vero voluptatum? Aliquam fuga fugiat impedit
            necessitatibus neque rem totam voluptate?x</p>
    </div>
</div>
<div class="row courseinfo__lessons">
    <div class="medium-6 columns">
        <div class="courseinfo__lesson">

        </div>
    </div>
    <div class="medium-6 columns"></div>
</div>
<!--<p>Учебный курс включает:</p>
<ul class="list&#45;&#45;warning page__list">
    <li><span class="page__list&#45;&#45;bodycolor">1</span></li>
    <li><span class="page__list&#45;&#45;bodycolor">2</span></li>
    <li><span class="page__list&#45;&#45;bodycolor">3</span></li>
    <li><span class="page__list&#45;&#45;bodycolor">4</span></li>ng-repeat-start=""
</ul>-->

<div class="row">
    <div class="medium-9 columns pad-l0">
        <div id="course-schedules">
            <ul class="list-inline courseinfo__modifiers">
                <li class="courseinfo__modifier"
                    ng-class="{'courseinfo__modifier--{{schedule.modifier_name}}':isActiveTab(schedule.modifier_name)}"
                    ng-repeat="schedule in schedules">
                    <a href="#" ng-click="activateSchedule(schedule)">{{schedule.modifier_name | modifier}}</a>
                </li>
            </ul>
            <div ng-show="isActiveTab(schedule.modifier_name)"
                 ng-repeat="schedule in schedules | orderBy:predicate:reverse"
                 class="courseinfo__tab--{{schedule.modifier_name}}">
                <div class="row">
                    <div class="courseinfo__start medium-6 columns">
                        <ul class="list-table">
                            <li><span class="icon-rocket courseinfo__icon--{{schedule.modifier_name}}"></span></li>
                            <li>
                                <p class="text-center"> Старт: <br/>
                                    {{schedule.begin|date:'EEEE d MMMM'}}
                                    {{schedule.begin|date:'HH:mm'}}
                                </p>
                            </li>
                        </ul>

                    </div>
                    <div ng-show="schedule.endDate" class="courseinfo__end medium-6 columns">
                        <ul class="list-table">
                            <li>
                                <p class="text-center"> Финиш: <br/>
                                    {{schedule.endDate|date:'EEEE d MMMM'}}
                                    {{schedule.endDate|date:'HH:mm'}}
                                </p>
                            </li>
                            <li>
                                <span class="icon-rocket--down courseinfo__icon--{{schedule.modifier_name}}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lessons">
                    <timeline data-points="{{schedule.lessonCount}}" class="timeline--{{activeTab}}"></timeline>
                    <p class="lessons__count">
                        {{schedule.lessonCount}} уроков
                    </p>

                    <div class="lessons__content"></div>
                </div>
            </div>


        </div>
    </div>
    <div class="medium-3 columns courseinfo" ng-controller="CourseCalendarCtrl">

        <div class="courseinfo__clock courseinfo__clock--{{activeTab}}">
            <clock></clock>
        </div>
        <div class="courseinfo__calendar--{{activeTab}}">
            <calendar></calendar>

        </div>

    </div>
    <!--<div class="medium-5 columns">-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptatem.</p>-->

    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptatem.</p>-->

    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptatem.</p>-->

    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, voluptatem.</p>-->
    <!--</div>-->
</div>
