<div class="page__header course">
    <div class="row">
        <div class="medium-3 columns end">
            <h1 class="page__title">{{ menuitem }}</h1>
        </div>
    </div>
</div>

<div class="row grid hide-for-small-only">
    <div class="page__info">
        <p class="clearfix">
            <span class="page__info--l icon-license icons--warning"></span>
            <span class="page__info--ml text--success">Сертификаты по завершению обучения</span>
            <a href="/certificates" class="page__info--last text--warning">Узнать больше</a>
        </p>
    </div>
</div>
<div class="row grid hide-for-small-only">
    <div class="medium-12 columns">
        <p>IT - наиболее быстро развивающаяся индустрия в мире, а работник сферы IT - настоящий космополит, не
            привязанный ни к месту, ни к стране.</p>

        <p>В огромном разнообразии профессий сферы вы можете выбрать для себя ту, которая подходит вашему характеру и
            складу ума.</p>

        <p>Реализовать себя здесь может каждый, так, разработка back-end подойдет любителям точных наук, а front-end -
            для людей творческих.</p>

        <p>Если вы технарь - мы предлагаем для вас Java или php, а если - гуманитарий, выбирайте html, css и
            javascript.</p>
    </div>
</div>

<div class="row mb-50 grid">
    <div class="courses medium-12 columns" ng-controller="CoursesController">
        <div class="courses__h">
            <h3 class="page__h3">
                <span class="icon-code"></span> Треннинги и курсы программирования
            </h3>
            <label class="courses__search mb-20"> <input type="text" ng-model="searchText"></label>
        </div>

        <table class="page__table">
            <thead>
            <tr>
                <th width="30%" ng-click="order('name')">
                    <span ng-class="{'sort--reverse':reverse, 'sort':predicate=='name'}">Название курса</span>
                </th>
                <th width="20%" class="hide-navmedia" ng-click="order('track')"><span
                        ng-class="{'sort--reverse':reverse, 'sort':predicate=='track'}">Специальность</span>
                </th>
                <th width="20%" class="hide-for-small-only" ng-click="order('level')"><span
                        ng-class="{'sort--reverse':reverse, 'sort':predicate=='level'}">Уровень сложности</span>
                </th>
                <th width="15%" class="hide-mobile" ng-click="order('duration')"><span
                        ng-class="{'sort--reverse':reverse, 'sort':predicate=='duration'}">Часы</span></th>
                <th width="15%" ng-click="order('price')"><span
                        ng-class="{'sort--reverse':reverse, 'sort':predicate=='price'}">Цена</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="course in courses | filter:searchText | orderBy:predicate:reverse">

                <td><a href="/courses/{{ course.alias }}"
                       class="course__name">{{ course.name }} {{ course.modifier }}</a></td>
                <td class="hide-navmedia">{{ course.track }}</td>
                <td class="hide-for-small-only">
                    <ul class="course__level--{{ course.level }}">
                        <li class="course__level--first"></li>
                        <li class="course__level--middle"></li>
                        <li class="course__level--last"></li>
                    </ul>
                </td>
                <td class="hide-mobile">{{ course.duration }}часов</td>
                <td><span class="course__price">{{ course.price }}</span>грн.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>