{% extends "base.html.twig" %}
{% block title %}NOT FOUND{% endblock %}

{% block content %}
<div class="error">
    <p class="hide-for-small-only">Ошибка 404!<br>
    В этой Вселенной нет такой страницы =(</p>
<p class="show-for-small-only">404<br>Страница<br>не найдена</p>
</div>
{% endblock %}
