{% extends "base.html.twig" %}
{% block content %}
    <div class="page aboutus" xmlns="http://www.w3.org/1999/html">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title">Карьера в IT</h1>
                </div>
            </div>
        </div>
        <div class="row hide-for-small-only mb-50">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-license icons--warning"></span>
                    <span class="page__info--ml text--success">Сертификаты по завершению обучения</span>
                    <a href="/certificates" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>
        <div class="row mb-50">
            <div class="medium-12 columns">
                <p>
                    Сюда надо втулить родмеп
               </p>
            </div>
        </div>
        <div class="row mb-50 hide-for-small-only">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-calendar-full icons--warning"></span>
                    <span class="page__info--ml text--success">Расписание курсов</span>
                    <a href="/schedule" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>

    </div>
{% endblock %}