{% extends "base.html.twig" %}
{% block content %}
    <div class="page aboutus" xmlns="http://www.w3.org/1999/html">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title">Карьера в IT</h1>
                </div>
            </div>
        </div>
        <div class="row hide-for-small-only mb-50">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-license icons--warning"></span>
                    <span class="page__info--ml text--success">Сертификаты по завершению обучения</span>
                    <a href="/certificates" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>
        <div class="row mb-50">
            <div class="medium-12 columns">
                <p>Для того чтобы найти престижную и высокооплачиваемую работу нужно не только выучить один курс, а
                    необходимо пройти долгий путь состоящий из нескольких уровней, и также выучить целый ряд
                    сопутствующих предметов.
                    На этой странице Вы можете ознакомиться со схемой изучения выбранной специальности.</p>

                <p>Эта структура поможет разобраться новичкам с чего необходимо начать, чтобы стать специалистом. Ну а
                    тем, кто в данный момент уже занимается любимым делом, эта схема даст возможность понять, где есть
                    еще пробелы и что нужно понять и выучить, чтобы повысить свою квалификацию. </p>

                <p>
                    Сюда надо втулить родмеп
                </p>
            </div>
        </div>
        <div class="row mb-50 hide-for-small-only">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-calendar-full icons--warning"></span>
                    <span class="page__info--ml text--success">Расписание курсов</span>
                    <a href="/schedule" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>

    </div>
{% endblock %}