{% extends "base.html.twig" %}
{% block content %}
    <div class="page aboutus" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title">Компаниям</h1>
                </div>
            </div>
        </div>
        <div class="row grid hide-for-small-only mb-20">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-license icons--warning"></span>
                    <span class="page__info--ml text--success">Сертификаты по завершению обучения</span>
                    <a href="/certificates" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>
        <div class="row grid">
            <h2 class="text--success columns text-center" id="corp">Корпоративное обучение</h2>

            <div class="medium-12 columns mb-50">
                <div class="large-9 medium-12 columns">

                    <p class="text-justify">Webcamp - это курсы программирования, основной специализацией которых
                        является web-программирование. Если Вы хотите повысить уровень квалификации IT-специалистов
                        компании, то мы предлагаем это сделать с помощью различных клиент-ориентированных программ,
                        которые создает для
                        Вас Webcamp. А наши преподаватели, благодаря применению современных технологий, помогут
                        разобраться
                        во всех тонкостях предмета.
                    </p>

                    <p class="text-justify">Webcamp поможет найти решения для компаний и учреждений всех уровней: как
                        для компаний, специализирующихся в сфере IT, так и тех, где IT-специалисты, являются только
                        частью
                        бизнес-процесса.</p>

                </div>
                <div class="large-3 columns hide-for-small-only hide-for-medium-only">
                    <img src="../../img/companies/01.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="row grid hide-for-small-only mb-20">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-license icons--warning"></span>
                    <span class="page__info--ml text--success">Сертификаты по завершению обучения</span>
                    <a href="/certificates" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>

        <div class="row grid">
            <h2 class="text--success columns text-center" id="advantages">Наши преимущества</h2>

            <div class="medium-12 columns mb-20">
                <div class="large-3 columns hide-for-small-only hide-for-medium-only">
                    <img src="../../img/companies/04.png" alt=""/>
                </div>

                <div class="large-9 medium-12 columns">

                    {#<ul class="no-bullet">#}
                    <p><span class="icon-book icons--success "></span> Авторские программы, которые адаптируются под
                        требования заказчика</p>

                    <p><span class="icon-social-skype-outline icons--success "></span> Формы обучения: очная, онлайн</p>

                    <p><span class="icon-place icons--success "></span> Место проведения: по выбору заказчика</p>

                    <p><span class="icon-coins icons--success "></span> Ценовая политика: гибкая система бонусов и
                        скидок</p>

                    <p><span class="icon-brain icons--success "></span> Преподаватели уровня Senior / Solution Architect
                    </p>
                    {#</ul>#}
                </div>
            </div>
        </div>
        <div class="row grid hide-for-small-only mb-20">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-license icons--warning"></span>
                    <span class="page__info--ml text--success">Сертификаты по завершению обучения</span>
                    <a href="/certificates" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>
        <div class="row grid">
            <h2 class="text--success columns text-center" id="register">Заказать обучение</h2>

            <div class="medium-12 columns mb-20">
                <div class="large-9 medium-12 columns">
                    <p class="text-justify">В зависимости от цели, Ваших требований, количества студентов и
                        продолжительности мы предлагаем несколько вариантов обучения:
                    </p>
                    <ol>
                        <li><p>Краткосрочные тренинги продолжительностью от 2 часов на выбранные темы.
                            </p></li>
                        <li><p>Тренинги повышения квалификации сотрудников, основанных на программах Webcamp. Программа
                                читается в полном объеме.
                            </p></li>
                        <li><p>Тренинги “под заказ”. Программа составляется индивидуально для каждого заказчика в
                                зависимости от его пожеланий. Может включать в себя материал их нескольких программ.
                                Продолжительность оговаривается с заказчиком.
                            </p></li>
                    </ol>
                    <p>
                        Для того чтобы заказать тренинг просто заполните форму ниже и наши специалисты свяжутся с Вами.
                    </p>
                </div>
                <div class="large-3 columns hide-for-small-only hide-for-medium-only">
                    <img src="../../img/companies/05.png" alt=""/>
                </div>
            </div>

        </div>

        <div class="grid">
            <form class="enroll-form" method="post" id="company-enroll" >
                <div class="row mb-20">
                    <div class="medium-12 columns">
                        <div class="medium-6 columns">
                            <label class="" for="email">Контактный e-mail
                                <input class="" type="text" name="email" required placeholder="info@webcamp.com.ua"/>
                            </label>
                        </div>
                        <div class="medium-6 columns">
                            <label class="" for="phone">Контактный телефон
                                <input class="" type="text" name="phone" required placeholder="044 235 6117"/>
                            </label>
                        </div>
                        <div class="medium-12 columns">
                            <label for="emailBody">Текст письма
                                <textarea name="emailBody" name="emailBody" rows="10"
                                          placeholder="Напишите Ваши пожелания"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mb-50">
                    <div class="medium-4 medium-centered columns">
                        <input type="submit" value="Отправить заявку" id="submitCompany" class="enroll-form__enroll"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

