{% extends "base.html.twig" %}
{% block content %}
    <div class="page aboutus" xmlns="http://www.w3.org/1999/html">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title">Практика в IT</h1>
                </div>
            </div>
        </div>
        <div class="row hide-for-small-only mb-50">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-license icons--warning"></span>
                    <span class="page__info--ml text--success">Сертификаты по завершению обучения</span>
                    <a href="/certificates" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>
        <div class="row mb-50">
            <div class="medium-12 columns">
                <p>
                    Главным критерием оценки любого специалиста является не только и не столько наличие диплома и сертификата, а умение применить полученные знания на практике.
                    Именно с этой целью Webcamp создал специальную программу для наших лучших студентов. Эта программа включает в себя возможность применить свои знания в реальных проектах. Принимая участие сначала в качестве стажера к Вас есть возможность впоследствии стать сотрудником компании.
                    На данный момент Webcamp сотрудничает с несколькими компаниями. Среди которых  можно назвать <strong>VideoGorillaz</strong>. Компания, которая сотрудничает с США.
                    В конце стажировки Вы получите Рекомендательное письмо и сможете украсить свое резюме не просто информацией о прохождении курсов, но и предоставить работодателю проект, в котором Вы принимали участие.
                </p>
            </div>
        </div>
        <div class="row mb-50 hide-for-small-only">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-calendar-full icons--warning"></span>
                    <span class="page__info--ml text--success">Расписание курсов</span>
                    <a href="/schedule" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>

    </div>


{% endblock %}