{% extends "base.html.twig" %}
{% block meta %}
    <meta name="{{ metadesc }}"/>
{% endblock %}
{% block content %}
   {{ course }}
    <div class="page">
        <div class="page__header course">
            <div class="row">
                <div class="medium-3 columns end">
                    <h1 class="page__title">{{ course }}</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="page__info">
                <p>
                    <span class="page__info--l icon-license icons--warning"></span>
                    <span class="page__info--ml text--success">Актуальное расписание</span>
                    <a href="/schedule" class="page__info--last text--warning">Узнать больше</a>
                </p>
            </div>
        </div>


    </div>
{% endblock %}