{% extends "base.html.twig" %}
{% block base %}/courses/{% endblock %}


{% block meta %}
    {% verbatim %}
    <meta description="{{ description || 'Тренинги и курсы программирования WebCamp'}}"/>
    {% endverbatim %}
{% endblock %}
{% block content %}

    <div class="page" ng-init="menuitem='{{ menuItem.name }}'" ng-view autoscroll="true">

    </div>

{% endblock %}